body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
  }

  body{
    /* background-color: hsl(240, 50%, 10%); */
    background: hsl(240, 50%, 90%);
    }
    
    .container {
      width: 100%;
      height: 100%;
      
    }
    a{
      text-decoration: none !important;
  }
  
  
    .leftpane {
      padding-top: 240px;
        width: 25%;
        height: 100%;
        float: left;
        border-collapse: collapse;
        margin-right: 2%;
        margin-bottom: 30px;
  
    }
    
    .middlepane {
      padding-top: 240px;

        width: 50%;
        height: 100%;
        float: left;
        border-collapse: collapse;
        border-right: 1px dashed midnightblue ;
        border-left: 1px dashed midnightblue ;
    }
    
    .rightpane {
      padding-top: 240px;

      width: 20%;
      height: 100%;
      position: relative;
      top: 20px;
      float: right;
      border-collapse: collapse;
      margin: 0;
    }
    
    .toppane {
      width: 100%;
      height: 50%;
      border-collapse: collapse;
      position: fixed;
      z-index: 2;
    }
    .header {
      background: url("https://78.media.tumblr.com/26be1dff725ec3f0789d6c9a89049ddd/tumblr_op3e1p9dKP1vsboz2o1_500.jpg")  ;
      height: 45%;
      /*background-size: cover; */
      text-transform: uppercase;
      background-color:hsl(30, 50%, 65%);

  }
  .header .container {
      position: relative;
      padding-top:30px;
      font-size: 6.25rem;
      color:#000;
      text-align: left;
  }

  .nav { 
    background: rgb(255, 176, 176);
    color: hsl(240, 50%, 70%);
    overflow: auto;
    height: 22.7%; 
    width: 100%;
  }
  
  .nav ul {
    list-style: none;
    margin: 0 auto; 
        color: hsl(240, 50%, 70%);

    padding: 0;
  }
  
  .nav ul li {
    color: hsl(240, 50%, 70%);
    display: inline-block; 
    line-height: 80px; 
    list-style: none;
    font-size: 1.75rem;
    padding: 0 4px;
    transition: background .5s; 
  }
  
  .selected, .nav ul li:hover, li a:hover {
    background: maroon;
    cursor: pointer; 
    color: #fff;
    transition: background .5s;  
  }


.intro{
    color:  hsl(0, 100%, 13%);
    font-size: 1.5rem;

}
.intro a:hover{
  color: maroon; 
  text-decoration: underline !important;
  text-shadow: 0 0 3px maroon;}
.outro{
    color: #000;
    font-size: 1.5rem;
}

footer{
  background-color: beige;
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  font-size: 1rem;
  text-align:right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 1;
}


@media only screen and (max-width:1050px) and (min-width: 840px){
  
  .leftpane {
    padding-top: 240px;
  
    width: 47%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    margin-right: 2%;
  }
  .leftpane img{
    width: 400px;
    height: 600px;
  }
  
  .middlepane {
    float: left;
    border-collapse: collapse;
    border-right: 1px dashed midnightblue ;
    border-left: 1px dashed midnightblue ;

    padding-top: 240px;

    font-family: 'Times New Roman', Times, serif;
    width: 50%; 
    font-size: 1rem;
  }
  .rightpane {
    padding-top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    position: relative;
    float: left;
    /*color: hsl(270, 100%, 50%);*/
    font-weight: 400;
    font-size: 0.85rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px; 
    }
  
  }
  
  @media only screen and (max-width:840px){
    
    .leftpane {
      padding-top: 240px;
    
      width: 100%;
      height: 100%;
      float: left;
      border-collapse: collapse;
      margin-right: 2%;
    }
    .leftpane img{
      width: 400px;
      height: 600px;
    }
    
    .middlepane {
      padding-top: 0;
      text-align: center;
      float: left;
      border-collapse: collapse;
      border-right: 1px dashed midnightblue ;
      border-left: 1px dashed midnightblue ;
      font-family: 'Times New Roman', Times, serif;
      width: 100%; 
      font-size: 1rem;
    }
    .rightpane {
      padding-top: 0;
      width: 100%;
      font-family: 'Courier New', Courier, monospace;
      height: 100%;
      position: relative;
      float: left;
      /*color: hsl(270, 100%, 50%);*/
      font-weight: 400;
      font-size: 0.85rem;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 80px; 
      }
    
    
  }