body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
  }
  body{
  /* background-color: hsl(240, 50%, 10%); */
  background-color: hsl(240, 10%, 22%);

    
  }
  
  .container {
    width: 100%;
    height: 100%;
    
  }
.toppane a{
    text-decoration: none;
}



  .leftpane {
    padding-top: 240px;

      width: 25%;
      height: 100%;
      float: left;
      border-collapse: collapse;
      margin-right: 2%;
      margin-bottom: 30px;

  }
  .leftpane img{
    width: 400px;
    height: 600px;
  }

  
  .middlepane {
    padding-top: 240px;

      width: 50%;
      height: 100%;
      float: left;
      border-collapse: collapse;
      border-right: 1px dashed beige ;
      border-left: 1px dashed beige ;
  }
  
  .rightpane {
    padding-top: 240px;

    width: 20%;
    height: 100%;
    position: relative;
    top: 20px;
    float: right;
    border-collapse: collapse;
    margin: 0;
  }
  
  .toppane {
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    position: fixed;
    z-index: 2;
  }
  .header {
    background: url("https://pbs.twimg.com/media/CW_0VkYUMAELdp4.jpg") repeat center;
    height: auto;
    /*background-size: cover; */
    text-align: left;
    text-transform: uppercase;
}
.header .container {
    position: relative;
    padding-top:30px;
    font-size: 6.25rem;
    color:#fff;
}
/*
.nav ul{
    background-color: hsl(30, 50%, 70%); 
    list-style: none;
    display: inline-block;
  }*/

  .nav { 
    background: hsl(30, 50%, 70%); ;
    height: 22.7%; 
    width: 100%;
    overflow: auto;
  }
  
  .nav ul {
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    
  }
  
  .nav ul li {
    color: #000;
    display: inline-block; 
    line-height: 80px; 
    list-style: none;
    padding: 0 4px;
    font-size: 30px;
    transition: background .5s; 
  }
  
  .selected, .nav ul li:hover, li a:hover {
    background: hsl(30, 50%, 40%);
    cursor: pointer; 
    color: #fff;
    transition: background .5s;  
  }

.fill{
    height: 260px;
    background-color: hsl(240, 10%, 22%);
}

.intro{
    color: white;
    font-size: 1.5rem;

}

.intro a:hover{
  color: red; 
  text-decoration: underline !important;
  text-shadow: 2px 2px 8px #FF0000;
}
.outro{
    color: whitesmoke;
    font-size: 1.5rem;
}
footer{
  background-color: lavender;
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  font-size: 1rem;
  text-align:right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 1;
}


@media only screen and (max-width:1050px) and (min-width: 840px){
  
  .leftpane {
    padding-top: 240px;
  
    width: 47%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    margin-right: 2%;
  }
  .leftpane img{
    width: 400px;
    height: 600px;
  }
  
  .middlepane {
    float: left;
    border-collapse: collapse;
    border-right: 1px dashed midnightblue ;
    border-left: 1px dashed midnightblue ;

    padding-top: 240px;

    font-family: 'Times New Roman', Times, serif;
    width: 50%; 
    font-size: 1rem;
  }
  .rightpane {
    padding-top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    position: relative;
    float: left;
    /*color: hsl(270, 100%, 50%);*/
    font-weight: 400;
    font-size: 0.85rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px; 
    }
  
  }
  
  @media only screen and (max-width:840px){
    
    .leftpane {
      padding-top: 240px;
    
      width: 100%;
      height: 100%;
      float: left;
      border-collapse: collapse;
      margin-right: 2%;
    }
    .leftpane img{
      width: 400px;
      height: 600px;
    }
    
    .middlepane {
      padding-top: 0;
      text-align: center;
      float: left;
      border-collapse: collapse;
      border-right: 1px dashed midnightblue ;
      border-left: 1px dashed midnightblue ;
      font-family: 'Times New Roman', Times, serif;
      width: 100%; 
      font-size: 1rem;
    }
    .rightpane {
      padding-top: 0;
      width: 100%;
      font-family: 'Courier New', Courier, monospace;
      height: 100%;
      position: relative;
      float: left;
      /*color: hsl(270, 100%, 50%);*/
      font-weight: 400;
      font-size: 0.85rem;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 80px; 
      }
    
    
  }
