body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }

  body{
    /* background-color: hsl(240, 50%, 10%); */
    background: hsl(240, 50%, 90%);
    }
    
.container {
  width: 100%;
  height: 100%;  
}
    
/*a{
    text-decoration: none !important;
}*/
.toppane {
    width: 100%;
    border-collapse: collapse;
    position: fixed;
    z-index: 2;
  }



.nav{
  text-align: right;
  margin-right: 10px;
  background-color: #f1f1f1;
}

.nav a, .selected {
  font-size: 1.25rem;
  display: inline;
  color: black;
  margin-right: 5px;
  padding: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);

}
.selected{
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color:blue ;
}

.nav a:hover{
  font-size: 1.5rem;

}
    
.box{
  padding-top: 50px;  
  position: relative;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  opacity: 0.99;
    
    }
    
    .box .lines{
        color:  #000;
        font-size: 1.5rem;
        margin-left: 3%;
        margin-right: 3%;
      }
    
    .lines ul {
     /* background-color: hsla(240, 50%, 75%, 0.6);*/
     background: hsla(240, 50%, 95%, 0.6);

      width: auto;
    
    }
    
    .lines a:hover{
      color: maroon; 
      text-decoration: underline !important;
      text-shadow: 0 0 3px maroon;}
    
    .pfcontent{
     /* background-color: hsla(192, 100%, 94%, 0.8);*/
     padding-top: 50px;  
      color: black;
      font-size: 2rem;
      width: 85%;
      margin: 0 auto;
    }
    
    .yes{
      font-family:ink free, 'Times New Roman', Times, serif;
      text-align:center; 
      font-size: 1.75rem;  
      background-color:yellow; 
      padding:18px 50px; 
      position:relative;
    }
    
    .yes:hover{
      background-color:rgb(204, 204, 141); 
      transition: background .5s; 
      color: white;
      
    }
    .no{
      font-family:ink free, 'Times New Roman', Times, serif; 
      font-size: 1.75rem; 
      background-color:black; 
      color:white; 
      padding:18px 40px; 
      position:relative;
    }
    
    .no:hover{
      background-color: rgb(170, 168, 168);
      color: black;
      transition: background .5s; 
    
      
    }
    
    footer{
      background-color: beige;
      height: auto;
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 10;
      font-size: 1rem;
      text-align:right;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      opacity: 1;
    }

    

  /* MEDIA QUERRIES */
  
  @media only screen and (max-width:1480px) and (min-width: 950px){
    .box{
      padding-top: 50px;  
      color: #000;
      position: relative;
      width: 85%;
      margin: 0 auto;
      height: 100%;
      opacity: 0.99;
  }
  
.nav{
  text-align: right;
  margin-right: 10px;
  background-color: #f1f1f1;
}

.nav a, .selected {
  font-size: 1.1rem;
  display: inline;
  color: black;
  margin-right: 5px;
  padding: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);

}
.selected{
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color:blue ;
}

.nav a:hover{
  font-size: 1.3rem;
}

}

@media only screen and (max-width:950px) and (min-width: 600px){
  
body{
  font-size: 16px;
}


.nav{
  text-align: right;
  margin-right: 10px;
  background-color: #f1f1f1;
}

.nav a, .selected {
  font-size: 0.999rem;
  display: inline;
  color: black;
  margin-right: 5px;
  padding: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);

}
.selected{
  font-size: 1.01rem;
  text-decoration: underline;
  text-decoration-color:blue ;
}

.nav a:hover{
  font-size: 1.04rem;

}



.box{
  padding-top: 50px;  
  color: #000;
  position: relative;
  width: 89%;
  margin: 0 auto;
  height: 100%;
  opacity: 0.99;

}
  
}
@media only screen and (max-width:800px) and (min-width: 0px){


  .nav{
    text-align: right;
    margin-right: 10px;
    background-color: #f1f1f1;
  }
  
  .nav a, .selected {
    font-size: 0.999rem;
    display: inline;
    color: black;
    margin-right: 5px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
  
  }
  .selected{
    font-size: 1.01rem;
    text-decoration: underline;
    text-decoration-color:blue ;
  }
  
  .nav a:hover{
    font-size: 1.04rem;
  
  }
  .box{
    padding-top: 60px;  
    color: #000;
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    opacity: 0.99;
  
  }
  
.box .lines{
  color:  black;
  font-size: 1.3rem;
  margin-left: 3%;
  margin-right: 3%;
  width:auto;
}
}
