body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
  }
  
  body{
    /* background-color: hsl(240, 50%, 10%); */
    background: hsl(240, 50%, 80%);
  
      
    }
    
    .container {
      width: 100%;
      height: 100%;
      
  }
  
  a{
    text-decoration: none !important;
  }
  .toppane {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  position: fixed;
  z-index: 2;
  }
  .header {
  background: url("https://78.media.tumblr.com/26be1dff725ec3f0789d6c9a89049ddd/tumblr_op3e1p9dKP1vsboz2o1_500.jpg")  ;
  width: 100%;
  height: 45%;
  /*background-size: cover; */
  text-align: left;
  text-transform: uppercase;
  background-color:hsl(30, 50%, 65%);
  
  }
  
  
  .header .container {
    position: relative;
    padding-top:30px;
    font-size: 6.25rem;
    color:#000;
  }
  
  .nav { 
    height: auto;
    width: 280px;
    }
    
  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
  }
  
  
  .nav ul li {
    color: hsl(240, 50%, 10%);;
    display: block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    font-size: 1.25rem;
    transition: background .5s; 
    background: rgb(255, 176, 176);

    }
  
  .selected, .nav ul li:hover, li a:hover {
  background: maroon;
  cursor: pointer; 
  color: #fff;
  transition: background .5s;  
  }
  
  .fill{
  height: 160PX;
  
  }
  
  .box{
    padding-left: 280px;

      color: #fff;
      position: relative;
      width: 75%;
      background: hsl(240, 50%, 80%);
      margin: 0 auto;
      height: 100%;
      opacity: 0.99;
  
  }
  
  .box .lines{
      color:  #000;
      font-size: 1.5rem;
      margin-left: 3%;
      margin-right: 3%;
    }
  
  .lines ul {
    background-color: hsla(240, 50%, 89%, 0.6);
    width: auto;
  
  }
  
  .lines a:hover{
    color: maroon; 
    text-decoration: underline !important;
    text-shadow: 0 0 3px maroon;}
  
  .pfcontent{
   /* background-color: hsla(192, 100%, 94%, 0.8);*/
    color: black;
    font-size: 2rem;
    width: 85%;
    margin: 0 auto;
  }
  
  .yes{
    font-family:ink free, 'Times New Roman', Times, serif;
    text-align:center; 
    font-size: 1.75rem;  
    background-color:yellow; 
    padding:18px 50px; 
    position:relative;
  }
  
  .yes:hover{
    background-color:rgb(204, 204, 141); 
    transition: background .5s; 
    color: white;
    
  }
  .no{
    font-family:ink free, 'Times New Roman', Times, serif; 
    font-size: 1.75rem; 
    background-color:black; 
    color:white; 
    padding:18px 40px; 
    position:relative;
  }
  
  .no:hover{
    background-color: rgb(170, 168, 168);
    color: black;
    transition: background .5s; 
  
    
  }
  
  footer{
    background-color: beige;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    font-size: 1rem;
    text-align:right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 1;
  }